<form role="form" name="selfcareForm" ng-controller="AdminController">
	<div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">New DataSource</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.navbar-header -->
	
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<input type="text" class="form-control" placeholder="DS Name" ng-model="ds.dsName">
							</br>
							<input type="text" class="form-control" placeholder="JNDI" ng-model="ds.contextPath">
							</br>
							<input type="text" class="form-control" placeholder="Driver Class" ng-model="ds.driverClassName">
							</br>
							<input type="text" class="form-control" placeholder="Username" ng-model="ds.userName">
							</br>
							<input type="password" class="form-control" placeholder="Password" ng-model="ds.encryptedPassword">
							</br>
							<div class="form-group">
								<textarea class="form-control" rows="7" placeholder="Connection String" ng-model="ds.jdbcConnectionString"></textarea>
							</div>
						</div>
					</div>
					
					<div class="row">                    
						<div class="col-lg-2" >
							<div class="form-group">
								<button class="btn btn-outline btn-primary" ng-click="saveDS()">Save</button>
							</div>
						</div>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</form>