<form role="form" name="selfcareForm" ng-controller="ReportsController">
	<div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">New Report</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.navbar-header -->
	
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12" ng-class="response.type">{{response.message}}</div>
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<input type="text" class="form-control" placeholder="Report Name" ng-model="report.reportName">
							<br/>
							<input type="text" class="form-control" placeholder="Title" ng-model="report.reportTitle">
							<br/>
							<input type="text" class="form-control" placeholder="Type (pie-chart,bar-chart)" ng-model="report.reportType">
							<br/>
							<input type="text" class="form-control" placeholder="Task ID" ng-model="report.taskId">
							<br/>
							<input type="text" class="form-control" placeholder="Out Param" ng-model="report.outParam">
							<br/>
						</div>
					</div>
					
					<div class="row">                    
						<div class="col-lg-2" >
							<div class="form-group">
								<button class="btn btn-outline btn-primary" ng-click="saveReport()">Save</button>
							</div>
						</div>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</form>