<!DOCTYPE html>
<html lang="en" ng-app="org.zcode.lexec.App">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>By-Pass</title>
		<link rel="shortcut icon" href="../favicon.ico" />
        <!-- Bootstrap Core CSS -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
		
		<link href="../dist/css/fonts-breuer.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="../dist/css/lexec-gui.css" rel="stylesheet">

    </head>

    <body>

        <div id="wrapper" ng-controller="HomePageController">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="home_page.html">BY-PASS</a>
                </div>
                <!-- /.navbar-header 
				
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
				-->
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
							<li>
                                <a class="menuGroupTitle" href="#home_page" >Dashboard</a>
                            </li>						
                            <li>
                                <a class="menuGroupTitle" href="#data_analysis" >Data Fetch</a>
                            </li>
                            <li>
                                <a class="menuGroupTitle" href="#">Workarounds</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="menuGroupItem" href="#search_solution">Search</a>
                                    </li>
                                    <li ng-repeat="group in groups track by $index">
                                        <a class="menuGroupItem" href="#list_all_solutions?groupName={{group}}">{{group}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="menuGroupTitle" href="#">Reports</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="menuGroupItem" href="#reports/search">Search</a>
                                    </li>
                                    <li ng-repeat="report in reports track by $index">
                                        <a class="menuGroupItem" href="#reports/showReport?reportId={{report.reportId}}">{{report.reportName}}</a>
                                    </li>
                                </ul>
                            </li>
							<li>
                                <a class="menuGroupTitle" href="#bpel_utils">BPEL Handling</a>
                            </li>
                            <li> <!-- ng-if="isAdmin" -->
                                <a class="menuGroupTitle" href="#">Admin</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="menuGroupItem" href="#admin/new_solution">New Strategy</a>
                                    </li>
                                    <li>
                                        <a class="menuGroupItem" href="#admin/new_datasource">New DataSource</a>
                                    </li>
                                    <li>
                                        <a class="menuGroupItem" href="#admin/new_report">New Report</a>
                                    </li>
									
		                            <li>
		                                <a class="menuGroupItem" href="#admin/task_logs">Usage Logs</a>
		                            </li>
									<li>
										<a class="menuGroupItem" href="#superadmin/new_user">New USer</a>
									</li>                            
                                </ul>                                
                            </li>
                            <li> <!-- ng-if="isAdmin" -->
                                <a class="menuGroupTitle" href="#">Statistics</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="menuGroupItem" href="#usage_statistics">Daily Report</a>
                                    </li>
                                </ul>                                
                            </li>
							
                            <!-- <li>
                                <a class="menuGroupItem" href="#" onclick="document.homePageForm.submit();">Logout</a>
                            </li>  -->
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
			
			<!--
            <div id="page-wrapper" bind-unsafe-html="htmlPage">
            </div>  -->
			
			<div id="page-wrapper" ng-view></div>
            <!-- /#page-wrapper -->
			

        </div>
        <!-- /#wrapper -->
		
        <!-- jQuery -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script> 

        <!-- Bootstrap Core JavaScript -->
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

        <!-- DataTables JavaScript -->
        <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

        <!-- Angualr JS JavaScript -->
        <script src="../bower_components/angular/angular.min.js"></script>
		<!-- Angular Route -->
		<script src="../bower_components/angular-route/angular-route.min.js"></script> 
		<!-- Google Chart -->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		
        <!-- Custom Theme JavaScript -->
        <script src="../dist/js/tools-gui-jq.js"></script>
        <!-- Custom Angular controller scripts -->
        <script src="../dist/js/home-page-angular.js"></script>
        <script src="../dist/js/solutions-angular.js"></script>
        <script src="../dist/js/bpelutils-angular.js"></script>
        <script src="../dist/js/admin-angular.js"></script>
        <script src="../dist/js/reports-angular.js"></script>
    </body>

</html>
