<!DOCTYPE html>
<html lang="en" ng-app="com.selfcare.App">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SelfCare Portal V2.0</title>

    <!-- Bootstrap Core CSS -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link href="../dist/css/fonts-telenet.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="../dist/css/tools-gui.css" rel="stylesheet">

</head>

<body>

    <div class="container" ng-controller="HomePageController">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading input-param">
                        <h3 class="panel-title">Please Log In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" ng-submit="login()">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" ng-model="credentials.username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="username" ng-model="credentials.password" type="password" value="">
                                </div>
                                <!-- 
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>  -->
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="../bower_components/raphael/raphael-min.js"></script>
        <!-- DataTables JavaScript -->
        <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

        <!-- Angualr JS JavaScript -->
        <script src="../bower_components/angular/angular.min.js"></script>
		<!-- Angular Route -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		
		
		<!-- Angular Material - Tried it for PopUp windows but now got another option with Bootstrap Modal
		To be removed after completion of entire portal
		<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
		<script src="../bower_components/angular-material/angular-material.min.js"></script>
		-->
		
        <!-- Custom Theme JavaScript -->
        <script src="../dist/js/tools-gui-jq.js"></script>
        <!-- Custom Angular controller scripts -->
        <script src="../dist/js/home-page-angular.js"></script>
        <script src="../dist/js/solutions-angular.js"></script>
        <script src="../dist/js/bpelutils-angular.js"></script>
        <script src="../dist/js/admin-angular.js"></script>

</body>

</html>