<form role="form" name="bpuForm" ng-controller="BpelUtilsController" novalidate>
<div class="row">
	<div class="overlay" ng-if="workInProgress">
		<img alt="In Progress" src="../images/giphy.gif" height="200" width="200"/>
	</div>
    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">BPEL Handling</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" name="userName" ng-model="request.userName" required/>
                                    <span class="validationErrorSpan" ng-show="bpuForm.userName.$dirty && bpuForm.userName.$invalid">
                                        <span ng-show="bpuForm.userName.$error.required">Username is required.</span>
                                    </span>

                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" type="password" name="password" ng-model="request.password" required/>
                                    <span class="validationErrorSpan" ng-show="bpuForm.password.$dirty && bpuForm.password.$invalid">
                                        <span ng-show="bpuForm.password.$error.required">Password is required.</span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-1">
                                <div class="form-group">
                                    <!-- <select class="form-control" ng-model="request.env" ng-options="env.name for env in envs track by env.url" required>
										<option value="">Select</option>
                                    </select>  -->
                                    <select class="form-control" ng-model="request.env" ng-options="env for env in bpelEnvs track by env" required>
                                    </select>
<!--                                     <span class="validationErrorSpan" ng-show="bpuForm.selectedEnv.$dirty && bpuForm.selectedEnv.$invalid">
                                        <span ng-show="bpuForm.selectedEnv.$error.required">Select an Env</span>
                                    </span>  -->
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Instance IDs or Fault ID" name="faultId" ng-model="request.faultId" required/>
                                    <span class="validationErrorSpan" ng-show="bpuForm.faultId.$dirty && bpuForm.faultId.$invalid">
                                        <span ng-show="bpuForm.faultId.$error.required">Invalid input.</span>
                                    </span>
                                </div>
                            </div>
							<div class="col-lg-5">
                                <button class="btn btn-primary" ng-click="bpuForm.$valid && fetchDetails()">Fetch Details</button>
                                <button class="btn btn-primary" ng-click="bpuForm.$valid && recoverFault()">Recover</button>
                                <button class="btn btn-primary" ng-click="bpuForm.$valid && resubmitFault()">Resubmit</button>
                                <button class="btn btn-primary" ng-click="bpuForm.$valid && abortInstance()">Terminate</button>
                                <button class="btn btn-primary" ng-click="bpuForm.$valid && continueFault()">Continue</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- 
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Error Details
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label class="errorLabel">Title</label>
                            </div>
                            <div class="col-lg-10 form-group">
                                <input class="form-control" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label class="errorLabel">Description</label>
                            </div>
                            <div class="col-lg-10 form-group">
                                <textarea class="form-control" rows="3" disabled></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label class="errorLabel">Order ID</label>
                            </div>
                            <div class="col-lg-3 form-group">
                                <input class="form-control" disabled>
                            </div>
                            <div class="col-lg-3 form-group">
                                <label class="errorLabel">Order Type</label>
                            </div>
                            <div class="col-lg-4 form-group">
                                <input class="form-control" disabled>
                            </div>									
                        </div>
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label class="errorLabel">Process ID</label>
                            </div>
                            <div class="col-lg-3 form-group">
                                <input class="form-control" disabled>
                            </div>
                            <div class="col-lg-3 form-group">
                                <label class="errorLabel">Process Type</label>
                            </div>
                            <div class="col-lg-4 form-group">
                                <input class="form-control" disabled>
                            </div>									
                        </div>													
                    </div>
                </div>
            </div>
            -->
        </div>
        <!-- /.row -->
    </div>
    <div class="col-lg-12" ng-if="bpelResponse.faultTrace">
    	<div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse">Fault Trace</a>
		      </h4>
		    </div>
		    <div id="faultTrace">
		      <div class="panel-body" ng-if="!detailedTrace">{{bpelResponse.faultTrace | limitTo:1000}} <u><b><span ng-click="showDetailedTrace()">More Detail</span></b></u>
		      </div>
		      <div class="panel-body" ng-if="detailedTrace"><u><b><span ng-click="showLess()">Show Less</span></b></u>
		      {{bpelResponse.faultTrace}}
		      </div>
		    </div>
	  	</div>
    </div>
<!--     <div class="col-lg-12" ng-if="bpelResponse.auditTrail">
    	<div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse">Audit Trail</a>
		      </h4>
		    </div>
		    <div id="auditTrail">
		      <div class="panel-body">{{bpelResponse.auditTrail}}</div>
		    </div>
	  	</div>
	  	 
    </div>-->
    <div class="col-lg-6" ng-if="bpelResponse.bpelVariables">
	   	
        <div class="panel panel-default">
            <div class="panel-heading">
                Variables
            </div>
            <div class="panel-body scroll-input-panel">
				<div class="bpelvariable" ng-repeat='(key, value) in bpelResponse.bpelVariables' ng-click="selectValue(key, value)"><span>{{key}}</span></div>
            </div>

        </div>
    </div>
    <div class="col-lg-6" ng-if="selectedVariable">
        <div class="panel panel-default">
            <div class="panel-heading">
                Values
            </div>
            <div class="panel-body scroll-input-panel">
				<textarea class="form-control" rows="20" name="selectedValue" ng-model="selectedValue" id="selectedValue"/><br/>
				<button class="btn btn-primary" ng-click="retryFault(selectedValue)">Retry</button>
            </div>
        </div>
    </div>
</div>
</form>
<!-- /#page-wrapper -->