<form role="form" name="selfcareForm" ng-controller="SuperAdminController">
	<div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">New User</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.navbar-header -->
	
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<input type="text" class="form-control" placeholder="Username" ng-model="user.username">
							<br/>
							<input type="password" class="form-control" placeholder="password" ng-model="user.password">
							<br/>
							<input type="text" class="form-control" placeholder="TeleEnv (eg:- PRD, UAT, EDP)" ng-model="user.teleEnv">
							<br/>							
							<label ng-repeat="role in allroles">
							  <input
							    type="checkbox"
							    name="selectedRoles[]"
							    value="{{role}}"
							    ng-checked="user.roles.indexOf(role) > -1"
							    ng-click="toggleSelection(role)"
							  > {{role}}
							</label>
							<br/>							
							<label ng-repeat="bpelEnv in allBpelEnvs">
							  <input
							    type="checkbox"
							    name="selectedBeplEnvs[]"
							    value="{{bpelEnv}}"
							    ng-checked="user.bpelEnvs.indexOf(bpelEnv) > -1"
							    ng-click="toggleBpelEnvSelection(bpelEnv)"
							  > {{bpelEnv}}
							</label>
						</div>
					</div>
					
					<div class="row">                    
						<div class="col-lg-2" >
							<div class="form-group">
								<button class="btn btn-outline btn-primary" ng-click="saveUser()">Save</button>
							</div>
						</div>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</form>

<script>
    $(document).ready(function () {
        $('#cmplx-dataTable').DataTable({
            responsive: true
        });
    });
</script>