<div class="navbar-header">
    <a class="navbar-brand">SQL Goodies</a>
</div>
<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-th-list fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><div><strong>New SQL</strong></div></a></li>
            <li class="divider"></li>
            <li><a href="#"><div><strong>Edit SQL</strong></div></a></li>                        
        </ul>
        <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.row -->
<div class="row" id="sqlContent">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">

                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="sql-dataTable">
                                <thead>
                                    <tr>
                                        <th>SQL Name</th>
                                        <th>Database</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Find ProcessID from OrderID</td>
                                        <td>CDM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="SQL Description"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Input Params
                            </div>
                            <div class="panel-body scroll-input-panel">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <div class="form-group">
                            <select class="form-control">
                                <option>EDP</option>																	
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2" >
                        <div class="form-group">
                            <button class="btn btn-outline btn-primary">Execute</button>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<script>
    $(document).ready(function () {
        $('#sql-dataTable').DataTable({
            responsive: true
        });
    });
</script>