<form role="form" name="selfcareForm" ng-controller="NewSolutionController">
	<div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">New Strategy</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.navbar-header -->

	<div class="modal fade" id="ifControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">IF</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="Expression" ng-model="selfcareForm.ifControlVO.expression">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveIfControl()" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="alertControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Alert</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="Message" ng-model="selfcareForm.alertControlVO.expression">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveAlertControl()" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="bpelResubmitControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Bpel Resubmit</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="BPELInstanceVariable" ng-model="selfcareForm.bpelControlVO.expression">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveBpelControl('RESUBMIT')" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="bpelContinueControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Bpel Continue</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="BPELInstanceVariable" ng-model="selfcareForm.bpelControlVO.expression">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveBpelControl('CONTINUE')" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="bpelRecoverControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Bpel Recover</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="BPELInstanceVariable" ng-model="selfcareForm.bpelControlVO.expression">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveBpelControl('RECOVER')" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="bpelAbortControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Bpel Abort</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="BPELInstanceVariable" ng-model="selfcareForm.bpelControlVO.expression">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveBpelControl('ABORT')" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="bpelRetryControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Bpel Retry</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="BPELInstanceVariable" ng-model="selfcareForm.bpelControlVO.expression">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveBpelControl('RETRY')" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="bpelReplaceVariableControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Bpel Replace Variable</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="BPELFaultVariableName SourceText TargetText" ng-model="selfcareForm.bpelControlVO.expression"><br/>
				<input type="text" class="form-control" placeholder="Input Params" ng-model="selfcareForm.bpelControlVO.inputParams">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveBpelControl('REPLACE_VARIABLE')" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="bpelReplaceInsertControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Bpel Insert Variable</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="BPELFaultVariableName InsertAfterNode NewNode" ng-model="selfcareForm.bpelControlVO.expression"><br/>
				<input type="text" class="form-control" placeholder="Input Params" ng-model="selfcareForm.bpelControlVO.inputParams">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveBpelControl('REPLACE_VARIABLE_INSERT')" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="bpelFetchFaultControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Bpel Fetch Fault Details</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="Message" ng-model="selfcareForm.bpelControlVO.expression">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveBpelControl('FETCH_FAULT_DETAILS')" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="executeControlModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">EXECUTE</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="Solution ID" ng-model="selfcareForm.controlVO.solutionId">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveExecuteControl()" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="inputParamModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Input Param</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="#ParamName" ng-model="selfcareForm.inputParam">
				<br/>
				<select class="form-control" ng-model="selfcareForm.paramType">
					<option value="text" selected="selected">Text</option>
					<option value="password">Password</option>
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveInputParam()" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="newSQLModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">New SQL</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="SQL Name" ng-model="selfcareForm.sqlVO.taskName"/>
				<br/>
				<input type="text" class="form-control" placeholder="Input Params" ng-model="selfcareForm.sqlVO.inputParams"/>
				<br/>
				<textarea class="form-control" rows="7" placeholder="SQL Query" ng-model="selfcareForm.sqlVO.sqlQuery"></textarea>
				<br/>
				<select class="form-control" ng-model="selfcareForm.sqlVO.database" ng-options="db for db in dbs track by db" required>
				</select>				
				<br/>
				<input type="text" class="form-control" placeholder="Output Param" ng-model="selfcareForm.sqlVO.outParam"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveSQL()" data-dismiss="modal">Validate & Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="newSoapModal" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">New Soap WS</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" placeholder="Name" ng-model="selfcareForm.soapVO.taskName"/>
				<br/>
				<input type="text" class="form-control" placeholder="Input Params" ng-model="selfcareForm.soapVO.inputParams"/>
				<br/>
				<textarea class="form-control" rows="7" placeholder="Soap Request" ng-model="selfcareForm.soapVO.inputRequest"></textarea>
				<br/>
				<input type="text" class="form-control" placeholder="URL" ng-model="selfcareForm.soapVO.url"/>
				<br/>
				<input type="text" class="form-control" placeholder="Output Param" ng-model="selfcareForm.soapVO.outParam"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="saveSoapWS()" data-dismiss="modal">Validate & Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">

							<input type="text" class="form-control" placeholder="Strategy Name" ng-model="strategy.name">
							<br/>
							<select class="form-control" ng-model="strategy.group" ng-options="group for group in groups track by group" required>
							</select>											
							<br/>
							<div class="form-group">
								<textarea class="form-control" rows="7" placeholder="Detailed Description" ng-model="strategy.description"></textarea>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									Input Params
								</div>
								<div class="panel-body scroll-input-panel">
									<ul class="list-group">
										<li class="list-group-item" ng-repeat="param in strategy.inputParams track by $index">
											{{param}}<a class="input-param-remove" > <span class="glyphicon glyphicon-remove" ng-click="removeParam($index)" aria-hidden="true" ></span></a>
										</li>
										<li class="list-group-item" ng-repeat="param in strategy.passwordParams track by $index">
											{{param}}<a class="input-param-remove" > <span class="glyphicon glyphicon-remove" ng-click="removePasswordParam($index)" aria-hidden="true" ></span></a>
										</li>
									</ul>
									<button type="button" class="btn btn-default" data-toggle="modal" data-target="#inputParamModal">
									  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
								</div>

							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<button type="button" class="btn btn-outline btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  Add Control
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu control">
							  <li><div class="custom-menu" data-toggle="modal" data-target="#ifControlModal">IF</div></li>
							  <li><div class="custom-menu" ng-click="saveEndIfControl()">END IF</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#alertControlModal">ALERT</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#bpelFetchFaultControlModal">BPEL FETCH FAULT</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#bpelResubmitControlModal">BPEL RESUBMIT</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#bpelContinueControlModal">BPEL CONTINUE</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#bpelAbortControlModal">BPEL ABORT</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#bpelRecoverControlModal">BPEL RECOVER</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#bpelRetryControlModal">BPEL RETRY</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#bpelReplaceVariableControlModal">BPEL REPLACE VARIABLE</div></li>
							  <li><div class="custom-menu" data-toggle="modal" data-target="#bpelReplaceInsertControlModal">BPEL INSERT VARIABLE</div></li>
							</ul>
							<button class="btn btn-outline btn-primary" data-toggle="modal" data-target="#newSQLModal">Add SQL</button>
							<button class="btn btn-outline btn-primary" data-toggle="modal" data-target="#newSoapModal">Add WS</button>
						</div>
					</div>
					</br>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									Steps
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>Task Name</th>
													<th>Input Params</th>
													<th>Database/Endpoint</th>
													<th>Output Param</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="task in strategy.tasks track by $index">
													<td ng-if="task.type == 'SQL' || task.type == 'SOAP'">{{task.taskName}}</td>
													<td ng-if="task.type == 'SQL' || task.type == 'SOAP'">{{task.inputParams}}</td>
													<td ng-if="task.type == 'SQL'">{{task.database}}</td>
													<td ng-if="task.type == 'SOAP'">{{task.url}}</td>
													<td ng-if="task.type == 'SQL' || task.type == 'SOAP'">{{task.outParam}}</td>
													<td ng-if="task.type == 'CONTROL'" colspan="4">{{task.expression}}</td>
													<td><a class="input-param-remove" > <span class="glyphicon glyphicon-remove" ng-click="removeTask($index)" aria-hidden="true" ></span></a></td>
												</tr> 												
											</tbody>
										</table>
									</div>
									<!-- /.table-responsive -->
								</div>
								<!-- /.panel-body -->
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.col-lg-6 -->                
						<!-- /.col-lg-6 -->
					</div>
					<div class="row">                    
						<div class="col-lg-2" >
							<div class="form-group">
								<button class="btn btn-outline btn-primary" ng-click="saveStrategy()">Save</button>
							</div>
						</div>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</form>

<script>
    $(document).ready(function () {
        $('#cmplx-dataTable').DataTable({
            responsive: true
        });
    });
</script>