<form role="form" name="selfcareForm" ng-controller="SolutionSearchController">
	<div class="overlay" ng-if="workInProgress">
		<img alt="In Progress" src="../images/giphy.gif"/>
	</div>
    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">Search Solutions</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search" ng-model="selfcareForm.searchTerm" required>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="form-group">
								<button class="btn btn-primary" ng-click="searchSolution()">Search</button>
							</div>
						</div>
					</div>
					
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>		
			<!-- /.panel -->
			
			<div class="search-results">
<!-- 				<div> <h5 ng-if="selfcareForm.searchTerm">Search Results for {{selfcareForm.searchTerm}} <h5></div>  -->
				<div class="search-result col-lg-12" ng-repeat="ctask in ctasks track by $index">
					<div class="col-lg-10">
						<a href="../pages/detail_page.html#/solution_detail?solutionId={{ctask.taskId}}" target="_blank">
							<h4><b>{{ctask.name}}</b></h4>
						</a>
						{{ctask.description}}<br/>
						<b>Input Params : </b>{{ctask.inputParams}}						
					</div>
					<div class="btn-group col-lg-2"">
						  <button type="button" class="btn btn-primary">Action</button>
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu">
							<li><a href="../pages/detail_page.html#/solution_detail?solutionId={{ctask.taskId}}" target="_blank">Detail</a></li>
							<li role="separator" class="divider"></li>
							<li ng-if="isAdmin"><a href="../pages/detail_page.html#/solution_detail_bulk?solutionId={{ctask.taskId}}" target="_blank">Bulk Execute</a></li> 
						  </ul>
					</div>
				</div>				
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</form>	