<form role="form" name="selfcareForm" ng-controller="SolutionDetailsController">
			<div class="col-lg-12 page-wrapper-2">
				<div class="col-lg-12">
					<a><h4>{{ctask.name}}</h4></a>
					<div>
							{{ctask.description}}
					</div>
				</div>
				</br>
				<div class="col-lg-12">
					<div class="panel panel-primary">
					  <div class="panel-heading input-param">
						<h3 class="panel-title">
						<span type="text" ng-repeat="param in ctask.inputParams track by $index" 
							>{{param}};</span>
						</h3>
					  </div>
					  <div class="panel-body">
						<div class="col-lg-10">
							
							<textarea class="form-control" rows="15" placeholder="Bulk Input" ng-model="strategy.inputString"></textarea>
							
						</div>
						<div class="col-lg-2">
							<input type="text" class="form-control" ng-model="strategy.sleepTime" placeholder="Sleep Time (in Milliseconds)" required/><br/>
							<button class="btn btn-primary" ng-click="executeBulkTask(ctask)" ng-disabled="inprogress">Execute</button>
						</div>
					  </div>
					</div>
				</div>
				<div>
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Task Name</th>
								<th>Input Params</th>
								<th>Database/Endpoint</th>
								<th>Output Param</th>
								<!-- <th>Status</th>  -->
							</tr>
						</thead>
						<tbody>
							<tr  ng-repeat="childTask in ctask.childTasks track by $index" >
							 	<td ng-if="childTask.expression || childTask.message || childTask.action">{{childTask.expression}}{{childTask.message}}{{childTask.action}}
							 		<span ng-if="childTask.childTasks" ng-repeat="childTask2 in childTask.childTasks" >{{childTask2.message}}</span>
							 	
							 	</td>
								<td ng-if="childTask.name">{{childTask.name}}{{childTask.message}}</td>
								<td>{{childTask.inputParams}}{{childTask.instanceVariable}}{{childTask.bpelVariableName}}
									<span ng-if="childTask.sourceString">#{{childTask.sourceString}}#{{childTask.targetString}}</span>
								</td>
								<td>{{childTask.dbName}}</td>
								<td>{{childTask.outParam}}</td> 
								<!--  <td>Status</td> -->
							</tr> 
							<!-- 
							<script type="text/ng-template" id="childTree">
    							{{ category.title }}
    							<tr ng-if="ctask.childTasks" ng-repeat="childTask in ctask.childTasks" ng-include="'childTree'">
        							<td ng-if="childTask.expression || childTask.message">{{childTask.expression}}{{childTask.message}}</td>
									<td ng-if="childTask.name">{{childTask.name}}</td>
									<td>{{childTask.inputParams}}</td>
									<td>{{childTask.dbName}}</td>
									<td>{{childTask.outParam}}</td>
    							</ul>
							</script>			  -->									
						</tbody>
					</table>						
				</div>				
            </div> 
			<div class="col-lg-12">
				<div class="panel panel-primary">
				  <div class="panel-heading input-param">
					<h3 class="panel-title">Task Execution Log</h3>
				  </div>
				  <div class="panel-body">
				  	<div ng-repeat="taskLog in taskLogs track by $index" ng-class="taskLog.type">
				  		<span ng-if="taskLog.type == 'output'">{{taskLog.log}}</span>
				  		<span ng-if="taskLog.type == 'alert'"><b>{{taskLog.message}}</b></span>
				  		<span ng-if="taskLog.log == '# End'" ng-init="stopLogger()"></span>
						<div ng-if="taskLog.type == 'sqloutput'">
				  			<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th ng-repeat="columnName in taskLog.sqlOutput.columnNames track by $index">{{columnName}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="sqlRow in taskLog.sqlOutput.sqlRows track by $index">
										<td ng-repeat="columnValue in sqlRow.columnValues track by $index">{{columnValue}}</td>
									</tr>
								</tbody>
				  			</table>
				  		</div>
				  	</div>
				  	
				  </div>
				</div>				
			</div>
</form>