<form role="form" name="selfcareForm" ng-controller="ReportsController">
	<div class="overlay" ng-if="workInProgress">
		<img alt="In Progress" src="../dist/images/giphy.gif"/>
	</div>
    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">{{report.reportTitle}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.row -->
	<div class="row">
		<!-- /.col-lg-12 -->
		<div class="col-lg-12">
			<div class="panel panel-primary">
			  
		  	  <div class="panel-body">
		
				<div id="bar_chart" style="width: 100%; height: 500px"></div>
			 </div>
			</div>
									
		</div>
		
	</div>
	<!-- /.row -->
</form>	

