<form role="form" name="selfcareForm" ng-controller="SolutionsController">
	<div class="overlay" ng-if="workInProgress">
		<img alt="In Progress" src="../images/giphy.gif"/>
	</div>
    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">Task Logs</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="ThreadID" ng-model="selfcareForm.threadId" required>
							</div>
						</div>
						<div class="col-lg-4">
							<button class="btn btn-primary" ng-click="fetchLogs()">Fetch Logs</button>
						</div>
					</div>
					
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>		
			<!-- /.panel -->
			
			<div class="col-lg-12">
				<div class="panel panel-primary">
				  <div class="panel-heading input-param">
					<h3 class="panel-title">Execution Logs</h3>
				  </div>
				  <div class="panel-body">
				  	<div ng-repeat="taskLog in taskLogs track by $index" ng-class="taskLog.type">{{taskLog.log}} <br/>
				  		<span ng-if="taskLog.log == '# End'" ng-init="stopLogger()"></span>
				  		<div ng-if="taskLog.type == 'sqloutput'">
				  			<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th ng-repeat="columnName in taskLog.sqlOutput.columnNames track by $index">{{columnName}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="sqlRow in taskLog.sqlOutput.sqlRows track by $index">
										<td ng-repeat="columnValue in sqlRow.columnValues track by $index">{{columnValue}}</td>
									</tr>
								</tbody>
				  			</table>
				  		</div>
				  	</div>
				  	
				  </div>
				</div>				
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</form>	