<form role="form" name="selfcareForm" ng-controller="UsageStatisticsController">
	<div class="overlay" ng-if="workInProgress">
		<img alt="In Progress" src="../images/giphy.gif"/>
	</div>
    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">Usage Statistics</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
	<!-- /.row -->
	<div class="row">
		<!-- /.col-lg-12 -->
		<div class="col-lg-12">
			<div class="panel panel-primary">
			  
		  	  <div class="panel-body">
		
				<div id="curve_chart" style="width: 100%; height: 500px"></div>
			 </div>
			</div>
									
		</div>
		
	</div>
	<!-- /.row -->
</form>	

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Workarounds', 'Data Fetch', 'BPEL Utils'],
          ['27/Mar',  60,      1, 160],
          ['28/Mar',  51,      0, 212],
          ['29/Mar',  32,      0, 244],
          ['30/Mar',  27,      0, 79],
          ['31/Mar',  17,      0, 107],
          ['01/Apr',  2,      2, 24],
          ['03/Apr',  18,       0, 189],
          ['04/Apr',  60,       52, 237],
          ['05/Apr',  41,       4, 298],
          ['06/Apr',  47,       4, 134],
          ['07/Apr',  60,      0, 89],
          ['08/Apr',  24,       0, 4],
          ['10/Apr',  20,      0, 21]
        ]);

        var options = {
          title: 'Usage',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>